name: dev

on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: ./dashboard-app
          file: ./dashboard-app/Dockerfile
          push: true
          tags: transgo/api:dashboard_app_dev
      
      - name: Deploying
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: 22
          script: /home/${{ secrets.SSH_USER }}/repo/deployment/deploy-dashboard-dev.sh

