name: prod

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: zanfuu
          password: 110321Fna09!!

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: ./dashboard-app
          file: ./dashboard-app/Dockerfile
          push: true
          tags: zanfuu/osborn:dashboard-prod

